body {
  background-image: url(../assets/pattern.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#blur {
  visibility: "";
}

.mainContainer {
  display: flex;
  justify-content: space-evenly;

  .mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      @include fontStyles (700, 6rem, 0, white);
      margin-bottom: 30px;
    }

    span {
      color: $orange;
    }

    p {
      @include fontStyles (400, 1.25rem, 0, white);
      width: 65%;
      line-height: 1.8rem;
    }

    .company {
      color: $blue;
      text-transform: uppercase;
      font-weight: 700;
    }

 
    .searchBar,
    input {
      text-decoration: none;
      @include fontStyles (700, 2.5rem, 0, $blue);
      border: solid white 2px;
      width: 200px;
      text-align: center;
      background-color: white;
    }

    input {
      margin-top: 20px;
      border: none;
      width:300px;
    }
  }

  .phoneApp img {
    height: 1000px;
  }

  .phoneApp {
    p {
      display: none;
    }
  }
}

button {
  height: 90px;
  border: transparent;
  background-color: transparent;
}

label {
  @include fontStyles (400, 1.25rem, 0, $blue);
}