body {
  background-image: url(../assets/pattern.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#blur {
  visibility: "";
}

.mainContainer {
  display: flex;
  justify-content: space-evenly;

  .mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      @include fontStyles (700, 6rem, 0, white);
      margin-bottom: 30px;
    }

    span {
      color: $orange;
    }

    p {
      @include fontStyles (400, 20px, 0, white);
      width: 65%;
    }

    .company {
      color: $blue;
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  .phoneApp img {
    // margin-top: 65px;
    height: 1000px;
  }
}

.iconButtons {
  margin-top: 200px;
}