
.carouselContainer {
    width: 250px;
    margin: auto;
    overflow: hidden;

}

li {
    list-style: none;
}

.carouselSlide {
    display: flex;
}

.carouselButton {
    padding: 10px;
    background-color: orange;
}

.left {
    position: absolute;
    z-index: 10;
    left: -40%;
    top: 35%;
}

.right {
    position: absolute;
    z-index: 10;
    right: -40%;
    top: 35%;

}

.fa-arrow-left-long,
.fa-arrow-right-long {
    color: white;
}

.coinName {
    margin: 0 auto;
    text-align: center;

    p {
        @include fontStyles (400, 2rem, 0, white);
    }
}