main {
    background-color: orange;
}
.carouselContainer {
    width: 400px;
    margin: auto;
    border: 5px solid black;
    overflow: hidden;
}

li {
    list-style: none;
}

.carouselSlide {
    display: flex;
}
