main {
    background-color: orange;
}
.carouselContainer {
    width: 400px;
    margin: auto;
    border: 5px solid black;
    overflow: hidden;
    position: relative;
}

li {
    list-style: none;
}

.carouselSlide {
    display: flex;
}

.carouselButton {
    padding: 10px;
    background-color: lightblue;
}

#left {
    position: absolute;
    top: 45%;
    z-index: 10; 
}

#right {
    position: absolute;
    top: 45%;
    z-index: 10; 
    left: 92%;
}