.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);


  ul {
    display: flex;

  }


  li {
    padding: 0 20px;
    list-style: none;
    @include fontStyles (400, 20px, 0, white);


  }

  li:nth-child(2) {
    color: $orange;
  }

  h1 {
    @include fontStyles(700, 48px, 0, $blue);
  }
}