@media (max-width: 1600px) {
  .modal {
    display: flex;
    flex-direction: column; 

    h2{
      font-size:2rem;
    }

    .marketVisualData {
      margin:0 auto;
      width:60%;

      img{
        width: 100%;
      }
    }
    .marketCoinData {
      p {
        line-height: 5px;
        font-size: 1rem ;
        color: white;
      }
    }
  }

}
// For some reason at 1600px breakpoint. the flex-direction changes to column. At this point - the img somehow enlarges again and shrinks at 1222px. therefore to prevent the image from becoming too small, we inserted a breakpoint to "rescale the image."
@media (max-width: 1222px) {
  .modal {
    display: flex;
    flex-direction: column; 

    h2{
      font-size:2rem;
    }

    .marketVisualData {
      margin:0 auto;
      width:85%;

      img{
        width: 100%;
      }
    }
    .marketCoinData {
      p {
        line-height: 5px;
        font-size: 1rem ;
        color: white;
      }
    }
  }

}


@media (max-width: 860px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    .mainContent {
      h2 {
        font-size:clamp(3rem, 800px, 2.6rem);  
      }
    }

    .phoneApp {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        display: block;
        @include fontStyles (400, 1.875rem, 0, white);
        position: absolute;
        width: 30%;
        left: 100px;
        text-align: center;
      }

      img {
        position:relative;
        left: 25vw;
        height: 700px;
      }
    }
  }


  .navBar {
    h1 {
      font-size: 48px;
    }
    li {
      font-size: 20px;
    }
    ul {
      display: flex;
      flex-direction: column;
      margin: 50px 0;
      line-height: 30px;
    }
  }

  .modal {
    display: flex;
    flex-direction: column;

    .marketVisualData {
      img{
        width: 100%;
      }
    }

    .marketCoinData {
      p {
        line-height: 5px;
        font-size: 1rem ;
        color: white;
      }
    }
  }
}


// For About US Page

@media (max-width: 1030px) {
  .navBar {
    h1{
      font-size: 33px;
    }
    li {
      font-size: 14px;
    }
  }
}

@media (max-width: 600px) {
  .aboutUs {
    h2 {
      @include fontStyles (700, 4rem, 0, white);
    }
    p {
      @include fontStyles (400, 16px, 0, white);
    }
  }
}

@media (max-width: 500px) {
  .teamInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    .person {
      p {
        font-size: 1.5rem;
      }
    }
  }
  .navBar {
    .fa-anchor {
      display: none;
    }
    li {
      padding: 0;
      font-size: 11px;
    }
    h1 {
      font-size: 28px;
    }
  }
  .aboutUs {
    h2 {
      font-size: 3rem;
    }
    p {
    font-size: 14px;
    }
  }
}
