$main-font: 'Poppins', sans-serif;
$black: #0F1026;
$navy: #1B2040;
$blue: #4973F2;
$orange: #F2911B;

@mixin fontStyles ($weight, $size, $spacing, $color) {
  // 100, 400, 700 weight 
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $spacing;
  font-family: $main-font;
  color: $color;
  text-align: center;
}