body {
  background-image: url(../assets/pattern.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.blur {
  visibility: "";
}

.mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.mainContainer .mainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mainContainer .mainContent h2 {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  margin-bottom: 30px;
  font-size: clamp(3rem, 800px, 2.6rem);
}
.mainContainer .mainContent span {
  color: #F2911B;
}
.mainContainer .mainContent p {
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  width: 65%;
  line-height: 1.8rem;
}
.mainContainer .mainContent .company {
  color: #4973F2;
  text-transform: uppercase;
  font-weight: 700;
}
.mainContainer .mainContent .searchBar,
.mainContainer .mainContent input {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0;
  font-family: "Poppins", sans-serif;
  color: #4973F2;
  border: solid white 2px;
  width: 200px;
  text-align: center;
  background-color: white;
}
.mainContainer .mainContent input {
  margin-top: 20px;
  border: none;
  width: 300px;
}
.mainContainer .phoneApp img {
  height: 800px;
}
.mainContainer .phoneApp p {
  display: none;
}

button {
  height: 90px;
  border: transparent;
  background-color: transparent;
}

label {
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0;
  font-family: "Poppins", sans-serif;
  color: #4973F2;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}
.navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.navBar li {
  padding: 0 20px;
  list-style: none;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0;
  font-family: "Poppins", sans-serif;
  color: white;
}
.navBar a {
  text-decoration: none;
  color: #4973F2;
}
.navBar a:hover {
  color: #F2911B;
}
.navBar h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0;
  font-family: "Poppins", sans-serif;
  color: #4973F2;
}
.navBar .menuBar {
  display: none;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1920px;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-height: 100%;
  border: none;
  -webkit-box-shadow: 5px 5px 500px inset rgb(223, 226, 228);
          box-shadow: 5px 5px 500px inset rgb(223, 226, 228);
  -webkit-box-shadow: 5px 5px 2000px rgb(7, 50, 85);
          box-shadow: 5px 5px 2000px rgb(7, 50, 85);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  z-index: 20;
}
.modal h2 {
  font-size: 3.75rem;
  font-weight: 700;
  letter-spacing: 0;
  font-family: "Poppins", sans-serif;
  color: #F2911B;
}
.modal p {
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0;
  font-family: "Poppins", sans-serif;
  color: #4973F2;
}
.modal .marketVisualData {
  -webkit-box-shadow: 0 0 20px rgba(253, 253, 253, 0.767);
          box-shadow: 0 0 20px rgba(253, 253, 253, 0.767);
}
.modal .close:hover {
  cursor: pointer;
}

.carouselContainerRide {
  margin: auto;
  width: 250px;
  position: relative;
}

.carouselContainer {
  width: 250px;
  margin: auto;
  overflow: hidden;
}

li {
  list-style: none;
}

.carouselSlide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carouselButton {
  padding: 10px;
  background-color: orange;
}

.left {
  position: absolute;
  z-index: 10;
  left: -40%;
  top: 35%;
}

.right {
  position: absolute;
  z-index: 10;
  right: -40%;
  top: 35%;
}

.fa-arrow-left-long,
.fa-arrow-right-long {
  color: white;
}

.coinName {
  margin: 0 auto;
  text-align: center;
}
.coinName p {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0;
  font-family: "Poppins", sans-serif;
  color: white;
}

.teamInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
}
.teamInfo .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.teamInfo .person img {
  width: 80%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.teamInfo .person p {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  line-height: 1.8rem;
}
.teamInfo .smLinks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.teamInfo .smLinks .fa-linkedin,
.teamInfo .smLinks .fa-github {
  padding: 20px;
  font-size: 3rem;
  color: white;
}
.teamInfo .smLinks .fa-linkedin:hover,
.teamInfo .smLinks .fa-github:hover {
  color: orange;
}

.aboutUs {
  text-align: center;
}
.aboutUs h2 {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  margin-top: 5%;
  margin-bottom: 5%;
}
.aboutUs p {
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  line-height: 1.8rem;
}

footer {
  background-color: lightblue;
  text-align: center;
}
footer p {
  color: white;
  font-size: 1rem;
  margin: 0;
  padding-top: 1%;
  padding-bottom: 1%;
}

@media (max-width: 1600px) {
  .modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal h2 {
    font-size: 2rem;
  }
  .modal .marketVisualData {
    margin: 0 auto;
    width: 60%;
  }
  .modal .marketVisualData img {
    width: 100%;
  }
  .modal .marketCoinData p {
    line-height: 5px;
    font-size: 1rem;
    color: white;
  }
}
@media (max-width: 1222px) {
  .modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal h2 {
    font-size: 2rem;
  }
  .modal .marketVisualData {
    margin: 0 auto;
    width: 85%;
  }
  .modal .marketVisualData img {
    width: 100%;
  }
  .modal .marketCoinData p {
    line-height: 5px;
    font-size: 1rem;
    color: white;
  }
}
@media (max-width: 860px) {
  .mainContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
  }
  .mainContainer .mainContent h2 {
    font-size: clamp(3rem, 800px, 2.6rem);
  }
  .mainContainer .phoneApp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainContainer .phoneApp p {
    display: block;
    font-size: 1.875rem;
    font-weight: 400;
    letter-spacing: 0;
    font-family: "Poppins", sans-serif;
    color: white;
    position: absolute;
    width: 30%;
    left: 100px;
    text-align: center;
  }
  .mainContainer .phoneApp img {
    position: relative;
    left: 25vw;
    height: 700px;
  }
  .navBar h1 {
    font-size: 48px;
  }
  .navBar li {
    font-size: 20px;
  }
  .navBar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 50px 0;
    line-height: 30px;
  }
  .modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal .marketVisualData img {
    width: 100%;
  }
  .modal .marketCoinData p {
    line-height: 5px;
    font-size: 1rem;
    color: white;
  }
}
@media (max-width: 1030px) {
  .navBar h1 {
    font-size: 33px;
  }
  .navBar li {
    font-size: 14px;
  }
  .mainContainer .mainContent p {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .aboutUs h2 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0;
    font-family: "Poppins", sans-serif;
    color: white;
  }
  .aboutUs p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    font-family: "Poppins", sans-serif;
    color: white;
  }
  .mainContainer .phoneApp p {
    width: 30%;
    left: 10px;
    font-size: 1.25rem;
  }
}
@media (max-width: 500px) {
  .teamInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .teamInfo .person p {
    font-size: 1.5rem;
  }
  .navBar .fa-anchor {
    display: none;
  }
  .navBar li {
    padding: 0;
    font-size: 11px;
  }
  .navBar h1 {
    font-size: 28px;
  }
  .aboutUs h2 {
    font-size: 3rem;
  }
  .aboutUs p {
    font-size: 14px;
  }
}